@import "vars"
@import "breakpoints"

body
  background: #F9FBFF
  font-family: 'Inter', sans-serif
  color: #4D515A
button
  border: none
  background: transparent
  padding: 0
  margin: 0
  cursor: pointer
.q-card
  border-radius: 15px
  border: 1px solid #DEE0E8
  box-shadow: none

.q-dialog__inner > div
  background: #FFFFFF
  border: 1px solid #DEE0E8
  border-radius: 15px

.text-caption-alt
  font-weight: 500
  font-size: 14px
  line-height: 24px
  color: #A5A4C2

.list-head
  background: #F8FAFC
.q-hoverable:hover > .q-focus-helper
  background: #726BEA !important

.q-field__control
  border-radius: 15px !important
.q-btn--rounded
  border-radius: 15px
  font-weight: 500
  font-size: 16px
  line-height: 18px
  letter-spacing: -0.01em
  color: $primary
.bg-btn-primary
  border-radius: 15px
  background: #EEEBFD
  color: $primary
  font-weight: 500
  font-size: 16px
  line-height: 18px
  letter-spacing: -0.01em

.container
  max-width: 1300px
  margin: 0 auto
  padding: 0 10px
.file-icon
  svg
    path
      transition: all .2s linear
      fill: #DEE0E8
  &:hover
    svg
      path
        fill: #726BEA
.comments
  height: 60vh

.files
  height: 30vh

@media (max-width: 768px)
  .order-list-row
    display: grid
    grid-template-columns: 1fr
    grid-gap: 10px
    padding: 0 0 10px 0
    border-bottom: 1px solid #DEE0E8
    margin-bottom: 5px
    & .q-item__section
      display: grid
      grid-template-columns: 1fr 1fr
      align-items: center
      margin: 0
  .comments
    height: 250px
  .files
    height: 250px
  .bordered
    border: unset !important


.table-top
  border-radius: 10px
  background: #F9F9FB

.border-box
  border: 1px solid rgba(15, 27, 71, 0.3)
  border-radius: 20px
  padding: 60px 80px
  @include md-d
    padding: 30px 40px
section
  margin-bottom: 120px
  @include md-d
    margin-bottom: 60px

.back-btn
  color: #407BFF
  font-size: 20px
  font-weight: 700
  display: inline-flex
  align-items: center
  text-decoration: none
  svg
    margin-right: 8px

.chip
  border: 1px solid rgba(15, 27, 71, 0.15)
  border-radius: 8px
  color: $dark
  font-weight: 700
  padding: 12px 24px
  height: fit-content
  font-size: 10px
.service
  border: 1px solid #CFD1DA
  border-radius: 20px
  padding: 40px
  @include md-d
    padding: 20px
  img
    width: 140px
    height: 140px
    object-fit: contain
    margin-bottom: 27px
  &-link
    text-decoration: none
    color: #407BFF
    display: flex
    align-items: center
    font-size: 16px
    font-weight: 600
  &-img
    background: #F5F6FA
    border-radius: 10px
    padding: 25px
    display: inline-block
    margin-bottom: 27px

  &.service-alt
    img
      width: 64px
      height: 64px
      margin-bottom: unset
    &:hover
      background: #F5F6FA


.q-btn-br
  border-radius: 12px
.mb-60
  margin-bottom: 60px

.mb120
  margin-bottom: 120px
  @include md-d
    margin-bottom: 60px
.about
  background: #F4F6FF
  border-radius: 20px
  padding: 60px 80px
  @include md-d
    padding: 30px 40px
  img
    width: 520px
    height: 420px
    object-fit: cover
    @include md-d
      width: 100%
      height: auto
      object-fit: contain


  &-inner
    border-radius: 14px
    background: #FFFFFF
    padding: 32px


.outline-box
  border: 1px solid #CFD1DA
  border-radius: 20px
  padding: 50px

.text-h3
  font-size: 20px !important

.text-h4
  font-size: 20px !important

.text-h5
  font-size: 16px !important

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background: #fff

::-webkit-scrollbar-thumb
  background: #0F1B47

::-webkit-scrollbar-thumb:hover
  background: #0F1B47

.faq-header
  display: flex
  align-items: center
  justify-content: space-between

  cursor: pointer
  padding: 20px 30px
  @include md-d
    & .text-h4
      line-height: 100%
      font-size: 14px !important
  p
    max-width: 80%
  svg
    path
      fill: #0F1B47
    circle
      stroke: #0F1B47
  &:hover
    background: #E3EAFB
    svg
      path
        fill: #FFFFFF
      circle
        fill: #407BFF
        stroke: #407BFF
.faq-text
  padding: 20px 30px

.grey-bg
  background: #F3F5FD
  padding: 100px 0
  @include md-d
    padding: 50px 0
  &.faq
    margin-bottom: 0 !important
.service-box-button
  @include md-d
    display: flex
    justify-content: center
    flex-grow: 1
    .q-btn
      margin-top: 20px
      width: 100%


.info-text
  background: #F6F6FA
  border-radius: 20px
  padding: 40px
  display: flex
  align-items: center
  gap: 20px
  @include md-d
    padding: 20px
  p
    flex-basis: 90%
